@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=general-sans@500,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}


.cursor {
  border-radius: 100%;
  mix-blend-mode: difference;
}

.cursorFollower {
  border-radius: 100%;
  left: -0.5rem;
  top: -0.5rem;
  background: rgba(255, 255, 255, 0.2);
  will-change: transform;
}

.progress {
  height: 0.1875rem;
}

.progress-bar {
  height: 0.2rem;
  transform-origin: left;
  will-change: transform;
  transform: scaleX(0);
  @apply w-full bg-white;
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  /* Optional: blending mode for cursor visibility */
}


.pharma-glow {
  background-image: radial-gradient(#45c486, transparent, transparent);
}

.chat-glow {
  background-image: radial-gradient(#f7b500, transparent, transparent);
}

.gpu-glow {
  background-image: radial-gradient(#ff02fb, transparent, transparent);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.5s ease-in-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.code-font {
  font-family: 'Source Code Pro', monospace;
}

.blinker {
  animation: blinker 1s infinite;
}

.expand-section {
  animation: open 1s cubic-bezier(0.33, 0.18, 0, 1.01);
  font-weight: 500;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.bar-slide {
  animation: barSlide 2s ease-in-out;
  animation-fill-mode: forwards;
}

.slide-down {
  animation: slideDown 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.slide-up {
  animation: slideUp 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.slide-right {
  animation: slideRight 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.slide-left {
  animation: slideLeft 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.comment-slide {
  animation: commentSlide 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.bounce {
  animation: bounce 0.5s ease-in-out infinite;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  animation-delay: 1.5s;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes commentSlide {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes barSlide {
  0% {
    transform: scale(1.5);
  }

  35% {
    transform: scale(1);
  }

  50% {
    transform: rotate(15deg);
  }

  65% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes open {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

.bg-light {
  background-color: var(--background);
  /* color: hsl(var(--foreground)); */
}

.animated-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 9999;
  animation: cursorAnimation 0.5s infinite;
  transition: transform 0.2s ease-in-out;
}

.hover {
  transform: scale(1.2);
}

.clicked {
  transform: scale(0.8);
  background-color: rgba(255, 0, 0, 0.5);
}

@keyframes cursorAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.fancy-image {
  background: linear-gradient(to right, #3c1053, #ad5389);
  animation: border-radius-animation 8s infinite;
  padding: 0.5rem;
}

@keyframes border-radius-animation {

  0%,
  100% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }

  25% {
    border-radius: 40% 60% 70% 30% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 70% 30% 40% 60% / 40% 60% 30% 70%;
  }

  75% {
    border-radius: 30% 70% 60% 40% / 70% 40% 60% 30%;
  }
}

@keyframes wobble-animation {

  0%,
  100% {
    transform: rotate(0deg) scale(1);
  }

  25% {
    transform: rotate(3deg) scale(1.05);
  }

  50% {
    transform: rotate(-3deg) scale(1.05);
  }

  75% {
    transform: rotate(3deg) scale(1.05);
  }
}

.outer-menu {
  &.menu-visible {
    .hamburger {
      >div {
        transform: rotate(135deg);

        &:before {
          top: 0;
          transform: rotate(90deg);
        }

        &:after {
          top: 0;
          transform: rotate(90deg);
          opacity: 0;
        }
      }
    }

    .menu {
      pointer-events: auto;
      visibility: visible !important;
      backdrop-filter: blur(0.625rem);
      -webkit-backdrop-filter: blur(0.625rem);

      >div {
        transform: scale(1);
        transition-duration: 0.75s;

        >div {
          opacity: 1;
          transition: opacity 0.4s ease 0.4s;
        }
      }
    }

    &:hover {
      .hamburger {
        >div {
          transform: rotate(225deg);
        }
      }
    }
  }

  .hamburger {
    z-index: 1;
    backface-visibility: hidden;

    >div {
      height: 0.125rem;
      transition: all 0.4s ease;
      -webkit-box-pack: center;

      &:before,
      &:after {
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        width: 100%;
        top: -0.5rem;
        height: 0.125rem;
        background: inherit;
        transition: all 0.4s ease;
      }

      &:after {
        top: 0.5rem;
      }
    }
  }

  .menu {
    backface-visibility: hidden;
    outline: 0.0625rem solid transparent;

    >div {
      width: 250vw;
      height: 250vw;
      transform: scale(0);
      will-change: transform;
      border-radius: 50%;
      transition: all 0.4s ease;
      backface-visibility: hidden;
      background: rgba(0, 0, 0, 0.5);

      @supports not (backdrop-filter: blur(1px)) {
        background: rgba(0, 0, 0, 0.8);
      }

      >div {
        max-width: 90vw;
        transition: opacity 0.4s ease;
      }

      ul {
        li {
          a {
            background: linear-gradient(90deg,
                #ffffff 0%,
                #ffffff 50%,
                #6dd5ed 51%,
                #2193b0 100%);
            background-size: 200% 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &:hover,
            &:focus {
              background-position: 100% 0;
            }
          }
        }
      }
    }
  }
}

.back-to-top {
  position: fixed;
  top: 70px;
  right: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: var(--primary-bright);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-dark);
  font-size: 20px;
  z-index: 9999;
  /* Set a higher z-index value */

}

@media (max-width: 768px) {

  /* Adjust position for mobile devices */
  .back-to-top {
    right: 20px;
  }

}

.card {
  box-shadow: rgba(34, 42, 53, 0.12) 0px 10px 32px, rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(34, 42, 53, 0.05) 0px 0px 0px 1px, rgba(34, 42, 53, 0.08) 0px 4px 6px, rgba(47, 48, 55, 0.1) 0px 24px 108px;
  background-image: radial-gradient(88% 100% at top, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, 0));
  box-shadow: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 1rem 1.5rem;
}

.liner-background {
  background: linear-gradient(90deg, #37eaf7 -45%, #c624ee 125%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}